h1 {
    text-align: center;
    text-decoration-line: underline;

}

h2 {
    font-size: medium;
    font-family: 'Roboto', sans-serif;
    color: black;
    background-color: yellow;
    /* width: fit-content; */
    padding: 5px;
    text-align: center;
}

.contenedor1 {
    border: 2px solid black;
    background-color: white;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    /* position: relative; */

}

.caja1 {
    /* position: absolute;
    top: 0px;
	right: 0px;
	margin:0 auto; */
    background-color: red;
    width: 100px;
    height: 100px;
    font-size: medium;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.caja2 {
    /* position: absolute;
    top: 90px;
	right: -10px;
	margin:0 auto; */
    background-color: blue;
    width: 100px;
    height: 100px;
    font-size: medium;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja3 {
    /* position: absolute;
    top: 190px;
	right: -10px;
	margin:0 auto; */
    background-color: green;
    width: 100px;
    height: 100px;
    font-size: medium;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor2 {
    border: 2px solid black;
    background-color: white;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    /* position: relative; */
}

.contenedor3 {
    border: 2px solid black;
    background-color: white;
    margin: 0 auto;
    width: 600px;
    /* height: 100px; */
    display: flex;
    justify-content: space-between;

}
